input,
select {
    display: block;
    padding-left: 1.4rem; 
    padding-right: 1.4rem;
    height: 4.5rem;
    border-radius: $default-radius;
    width: 100%;
}

label {
    height: 0;
    font-size: 0;
    display: block;
    width: 0;
}

button,
input[type="submit"],
input[type="button"] {
    padding: .8rem 2.5rem;
    font-weight: $weight-light;
    font-size: inherit;
    border-radius: $default-radius;
}

button.clean,
input[type="submit"].clean,
input[type="button"].clean {
    box-shadow: none;
    padding: .8rem 0;
    background-color: transparent;
}