// PALETA
$dark-background: hsl(207, 26%, 17%);
$dark-elements: hsl(209, 23%, 22%);
$dark-text: hsl(0, 0%, 100%);

$light-input: hsl(0, 0%, 52%);
$light-elements: hsl(0, 0%, 100%);
$light-background: hsl(0, 0%, 98%);
$light-text: hsl(200, 15%, 8%);

// PESO TEXTO
$weight-light: 300;
$weight-normal: 600;
$weight-bold: 800;

// TIPOGRAFIA
$mobile-base-font-size: 75%;
$base-font-size: 62.5%;
$font-family: 'Nunito Sans', Helvetica, Arial, sans-serif;

$small-text: 1.2rem;
$normal-text: 1.6rem;
$big-text: 2.4rem;
$huge-text: 3rem;

$mobile-small-text: 1.2rem;
$mobile-normal-text: 1.4rem;
$mobile-big-text: 1.8rem;
$mobile-huge-text: 2.4rem;

// TAMANHOS DE TELA
$mobile: 450px;
$tablet: 768px;
$desktop: 900px;

// BORDAS
$default-radius: .5rem;
