.light {
    background-color: $light-background;
    color: $light-text;
}

.light .header {
    box-shadow: $light-box-shadow;
    background-color: $light-elements;
}

.light input,
.light select,
.light button,
.light .card {
    box-shadow: $light-box-shadow;
    background-color: $light-elements;
    color: $light-text;
}